<h3 class="title">school schedule</h3>
<button class="btn selected" *ngIf="classes" (click)="Reset()">Back</button>
<div *ngIf="!mode then numbers;else classTemplate">
</div>
<ng-template #numbers>
  <div class="container">
    <h4 class="class-number-card" *ngFor="let number of classNumber" (click)=(GetClassesByNumber(number))>{{number}}</h4>
  </div>
</ng-template>
<ng-template #classTemplate>
  <div class="container" *ngIf="!days">
    <h4 class="class-number-card" *ngFor="let class of classes" (click)=(GetScheduleByClass(class.id))>{{class.name}}</h4>
  </div>
</ng-template>
<yps-schedule-card [days]="days"></yps-schedule-card>