@import 'src/vars.scss';

:host {
  .title {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1rem;
  }

  .selected {
    display: block;
    margin: 1rem auto;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    grid-gap: 0.75rem;

    .class-number-card {
      height: 4rem;
      line-height: 4rem;
      color: $gray;
      text-align: center;
      border: 1px solid $light;
      cursor: pointer;

      &:hover {
        color: $accent;
      }
    }
  }
}

@media (max-width: 1400px) {
  :host {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    }
  }
}

@media (max-width: 1100px) {
  :host {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }
  }
}