@import 'src/vars.scss';

:host {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 1rem;
  
  .cabinet-header {
    grid-column: 1 / -1;
  }

  .sidebar {
    display: grid;
    grid-gap: 2rem;
    align-self:start;
    padding: 1rem;
  }

  // .add-user {
  //   margin-top: 2rem;
  //   align-self: start;
  //   transition: $transition;

  //   &:hover {
  //     border-color: $accent;
  //     background-color: #ffffff;
  //     color: $accent;
  //   }
  // }
  // .content{
  //   background-color: #f5f4f4;
  // }
}