<div class="lesson-number">
  <span class="lesson-number-value digit">
    {{ item.lessonNumber }}
  </span>
</div>
<div class="discipline">
  <h4 class="discipline-value">
    {{ item.discipline }}, {{ "aud. " + item.auditoriumNumber }}
  </h4>
</div>
<span class="time-gap">
  {{ item.lessonTimeGap }}
</span>
<div class="class-name">
   <span class="class-name-value">{{ item.className }}</span>
</div>
<button (click)="onClick()" class="btn start-btn" [style.visibility]="visibleStart" ngClass="">start lesson</button>
<button class="btn start-btn" [style.visibility]="visibleEdit">edit lesson</button>