<div class="image-wrap">
  <img [src]="parent.imageUrl" alt="" class="image">
</div>
<div class="index parent-index">
  <span class="index-value parent-index-value digit">
    {{ index + 1 }}
  </span>
</div>
<h4 class="full-name">
  {{ parent.surname + " " + parent.firstName + " " + parent.middleName | lowercase }}
</h4>
<p class="email">
  <mat-icon class="icon mail">mail</mat-icon>
  <span class="email-value">{{ parent.email }}</span>
</p>
<p class="phone-number">
  <mat-icon class="icon phone">phone</mat-icon>
  <span class="phone-number-value">{{ parent.phoneNumber }}</span>
</p>
<p class="work-info-title">infornation about work</p>
<div class="work-info">
  {{ parent.workInfo }}
</div>
<yps-children-box
  [children]="parent.children"
>
</yps-children-box>
<p *ngIf="parent.dateOfBirth" class="birthday digit">
  birthday at
  <span class="digit birthday-value">
    {{ parent.dateOfBirth }}
  </span>
</p>
