:host {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  text-align: center;

  .title {
    font-size: 1.875rem;
    text-transform: capitalize;
  }

  .yps-logo {
    justify-self: center;
    height: 3rem;
  }
}