@import "src/vars";

:host {
  display: grid;
  align-self: start;
  grid-gap: 0.25rem;
  padding: 1rem;
  border: 1px solid $light;

  .day-name {
    text-transform: capitalize;
    color: $accent;
  }

  .date {
    text-transform: capitalize;
    color: $gray;
  }
}