@import 'src/vars.scss';

:host {
  display: grid;
  grid-gap: 0.2rem;

  .form-field-label {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    color: $gray;
    grid-row: 1 / 3;
  }

  .form-field-control {
    font-size: 0.875rem;

    &.error {
      border-color: $red;

      & ~ .form-field-label {
        color: $red;
      }

      &:focus {
        border-color: $red;

        & ~ .form-field-label {
          color: $red;
        }
      }
    }

    &::placeholder {
      text-transform: capitalize;
    }

    &:focus {
      border-color: $accent;

      & ~ .form-field-label {
        color: $accent
      }
    }
  }

  .error-message {
    font-size: 0.8rem;
    color: $red;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}