@import 'src/vars.scss';

:host {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 2rem;
  align-items: center;
  position: relative;
  padding: 0.75rem 2rem;
  border-bottom: 1px solid $light;

  .logo-container {
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .yps-icon {
      display: block;
      width: 3rem;
      justify-self: center;
      align-self: center;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .school-name {
    display: block;
    justify-self: start;
    z-index: 1;
  }

  .user-name {
    text-transform: capitalize;
    z-index: 1;
  }

  .btn.logout-btn {
    padding: 0.75rem 1rem;
    background: none;
    border-color: $gray;
    color: $black;
    z-index: 1;

    &:hover {
      border-color: $red;
      background: $red;
      color: #fff;
    }
  }
}

.hovered-el {
  outline: none;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $accent;
    opacity: 0.8;
  }
}

@media (max-width: 500px) {
  :host {
    .logo-container {
      position: relative;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }
}