@import 'src/vars.scss';

:host {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-gap: 2rem;
  align-items: center;
  padding: 0.75rem 2rem;
  border-bottom: 1px solid $light;

  .yps-icon {
    display: block;
    width: 3rem;
    justify-self: center;
  }

  .school-name {
    display: block;
    justify-self: start;
  }

  .user-name {
    text-transform: capitalize;
  }

  .logout-btn {
    padding: 0.75rem 1rem;
    background-color: none;

    &:hover {
      border-color: $red;
      color: $red;
    }
  }
}

.hovered-el {
  outline: none;
  cursor: pointer;
  transition: $transition;

  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: 500px) {
  :host {
    grid-template-columns: 1fr auto auto;

    .school-name {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-self: center;
    }
  }
}