@import "src/vars";

:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 1rem;

  .header-class {
    font-weight: bold;
    text-transform: capitalize !important;
    color: $accent;
  }
}