@import 'src/vars.scss';

:host {

  .no-items {
    color: $gray;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .upcoming-event-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    border: 1px solid $light;
    padding: 1rem;

    .title {
      color: $accent;
    }

    .title, .content {
      grid-column: 1 / 3;
    }

    .teacher-info {
      display: grid;
      align-self: start;
      grid-template-columns: auto 1fr;
      grid-gap: 0.5rem;
      justify-self: start;
      align-items: center;

      .teacher-fullname {
        font-size: 0.9rem;
        font-weight: 600;
        color: $gray;
      }

      .teacher-image-wrap {
        display: flex;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;

        .teacher-image {
          width: 100%;
          object-fit: cover;
          vertical-align: middle;
          justify-self: start;
          border-radius: 50%;
        }
      }
    }

    .date {
      display: grid;
      font-size: 0.7rem;
      justify-content: end;
      color: $gray;
    }
  }
}
