@import 'src/vars.scss';

:host {
  display: grid;
  grid-gap: 0.3rem;

  .no-items {
    color: $gray;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .example-card {
    display: grid;
    min-width: 5rem;
    max-width: auto;
    box-shadow: none;
    border: 1px solid $light;
    padding: 0.5rem;
    border-radius: 0%;
  }

  .teacher-degree{
    font-size: 0.8rem;
  }

  .teacher-info{
    //justify-self: end;
  }

  .header{
    justify-self: center;
  }

  .date{
    display: grid;
    font-size: 0.7rem;
    justify-content: end;
  }
}

.title{
  color: $accent;
}
