@import 'src/vars.scss';



a {
   position: relative;
    .text {
        position: absolute;
        left: -10px;
        opacity: 0;
        transition: all .5s ease;
        font-size:20px;
    }
    &:hover{        
        .text {
            color:#83A9F3;;
            left: 30px;
            opacity: 1;
        }       
    } 
    mat-icon{
    color:#83A9F3;
    }   
}