@import 'src/vars.scss';

:host {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  
  .add-user {
    margin-top: 2rem;
    align-self: start;
    transition: $transition;

    &:hover {
      border-color: $accent;
      background-color: #ffffff;
      color: $accent;
    }
  }
  .content{
    background-color: #f5f4f4;
  }
}