<div class="index class-index">
  <span class="index-value class-index-value digit">
    {{ index + 1 }}
  </span>
</div>
<h4 class="class">{{ classItem.number + " - " + classItem.character }}</h4>
<p class="class-teacher">
  <span class="class-teacher-title">class teacher, </span>
  <span class="class-teacher-value">{{ classItem.teacherFullName }}</span>
</p>
<p class="children-count digit">
  the class has
  <span class="digit children-count-value">
    {{ classItem.childrenCount }}
  </span>
  {{ classItem.childrenCount == 1 ? "pupil" : "pupils" }}
</p>