@import "src/vars";

:host {
  .class-name {
    text-transform: capitalize;
  }

  .class-teacher {
    &-title {
      font-size: .8rem;
      text-transform: capitalize;
      font-weight: 600;
      color: $gray;
    }

    &-value {
      font-size: .8rem;
    }
  }

  .children-count {
    color: $gray;
    font-size: .8rem;
    justify-self: end;
    padding-top: 1rem;

    &-value {
      font-weight: 600;
      color: $accent;
    }

    &::first-letter {
      text-transform: capitalize;
    }
  }
}