@import "src/vars";

:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1.5rem;
  padding: 1rem;
  border: 1px solid $light;

  .class-index {
    grid-row: 1 / 4;
  }

  .class {
    text-transform: capitalize;
  }

  .class-teacher {
    &-title {
      font-size: .8rem;
      text-transform: capitalize;
      font-weight: 600;
      color: $gray;
    }

    &-value {
      font-size: .8rem;
    }
  }

  .children-count {
    color: $gray;
    font-size: .8rem;
    justify-self: end;
    padding-top: 1rem;

    &-value {
      font-weight: 600;
      color: $accent;
    }

    &::first-letter {
      text-transform: capitalize;
    }
  }
}