@import 'src/vars.scss';

:host{
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 1rem;

    .photo_edit {
        display: grid;
        grid-row: auto;
    }

    .photo {
        height: 13rem;
        width: 9.5rem;
    }

    .name_edit {
        display: grid;
        margin-left: 2rem;
        align-self: start;
        grid-gap: 1rem;

        .number, .email {
            color: $gray;
        }
    }

    .uploadPhoto {
        transition: $transition;
        padding: 0.5rem;
        width: 100%;

        &:hover {
          border-color: $accent;
          background-color: #ffffff;
          color: $accent;
        }
    }
}
