@import 'src/vars.scss';

:host {
  display: block;
  width: 24rem;
  margin: 0 auto;

  .form {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;

    .title {
      text-align: center;
      text-transform: uppercase;
    }

    .login-btn {
      justify-self: center;
    }

    .wrap {
      display: grid;
      grid-template-columns: repeat(2, auto);
      font-size: 0.875rem;
      
      .remember-control {
        text-transform: capitalize;
      }

      .forgot-link {
        justify-self: end;
        transition: $transition;

        &:hover {
          color: $accent;
        }
      }
    }
  }
}
