@import 'src/vars.scss';
:host {
  display: grid;
  grid-gap: 0.75rem;
  padding: 1rem;
  border: 1px solid $light;

  .short-name {
    color: $gray;
    font-size: 0.85rem;
  }

  .value-wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
    grid-gap: 0.5rem;

    .icon {
      color: $accent;
      font-size: 1rem;
      width: 1rem;
      height: 1rem;
      line-height: 100%;
      text-align: center;
      align-self: center;
      margin-bottom: -2px;
    }

    .value {
      font-size: 0.85rem;
    }
  }



  .button-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    .decline {
      background-color: $red;
      border-color: $red;

      &:hover {
        background: none;
        color: $red;
      }
    }
  }
}
