<mat-card class="card">
    <mat-card-title><span>Name</span>:{{Request.name}}</mat-card-title>
    <mat-card-content><span>Mail</span>:{{Request.email}}</mat-card-content>
      <mat-card-content><span>Short Name</span>:{{Request.shortName}}</mat-card-content>
      <mat-card-content><span>Phone Number</span>:{{Request.phoneNumb}}</mat-card-content>
      <mat-card-content><span>Locality</span>:{{Request.locality}}</mat-card-content>
      <mat-card-content><span>Address</span>:{{Request.address}}</mat-card-content>
      <mat-card-content><div class="buttonRow">
        <button (click)="approve()">Approve</button>
        <button class="decline" (click)="disapprove()">Disapprove</button>
      </div></mat-card-content>
</mat-card>
