<button 
  class="add-btn btn primary"
  (click)="toggleForm()"
>
  {{ formIsOpen ? "close" : "add parent" }}
</button>
<form
  *ngIf="formIsOpen"
  class="form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="title">add parent</h1>
  <yps-user-sub-form formControlName="user" #formRef>
  </yps-user-sub-form>
  <yps-form-field
    *ngFor="let field of fields"
    [field]="field"
    [formControlName]="field.name"
  >
  </yps-form-field>
  <mat-form-field>
    <mat-label>Select a class</mat-label>
    <mat-select formControlName="classId" disableRipple>
      <mat-option value="1">7-a</mat-option>
      <mat-option value="2">10-b</mat-option>
      <mat-option value="3">11-c</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="form.controls.classId.value != null && !!form.controls.childId">
    <mat-label>Select a child</mat-label>
    <mat-select formControlName="childId" disableRipple>
      <mat-option value="1">child one</mat-option>
      <mat-option value="2">child one</mat-option>
      <mat-option value="3">child one</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" class="btn primary">submit</button>
</form>
