@import 'src/vars.scss';

:host {
  .form {
    display: grid;
    grid-gap: 1rem;
    padding: 2rem;
    .title {
      text-transform: uppercase;
      text-align: center;
    }

    .btn {
      justify-self: center;
      transition: $transition;

      &:hover{
        border-color: $accent;
        background-color: #ffffff;
        color:$accent;
      }
    }
  }
}