<button 
  class="add-btn btn primary"
  (click)="toggleForm()"
>
  {{ formIsOpen ? "close" : "add pupil" }}
</button>
<form
  *ngIf="formIsOpen"
  class="form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="title">add pupil</h1>
  <yps-user-sub-form formControlName="user" #formRef>
  </yps-user-sub-form>
  <yps-form-field
    *ngFor="let field of fields"
    [field]="field"
    [formControlName]="field.name"
  >
  </yps-form-field>
  <mat-form-field>
    <mat-label>Select a class</mat-label>
    <mat-select formControlName="classId" disableRipple>
      <mat-option *ngFor="let class of classes" [value]="class.id">{{ class.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" class="btn primary">submit</button>
</form>
