@import 'src/vars.scss';

.admin_page{
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: 10rem auto;
  row-gap: 1rem;
}
.navbar {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-auto-columns: auto auto 80px;
  grid-auto-rows: 40px;
  }
 .logo_admin{
    padding-left: 2px;
    padding-top: 2px;
    justify-self: start;
    align-self: center;
    height: 100%;
  } 
  .navbar .nav_user{
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: end;
    align-self: center;
  }
  .navbar .nav_logout{
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
  }
.wrapper{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: 10rem auto;
  grid-gap: 1rem;
}
/* Style the tab */
.tab {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: auto;
    float: left;
  }
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    transition: 0.3s;
    &:hover {
      background-color: #ddd;
    }
  }
  /* Change background color of buttons on hover */
.content{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: auto;
  display: grid;
  align-items: stretch
  }
  .profile{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-auto-columns: 9.5rem auto;
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }
  .photo_edit{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-auto-columns: 9.5rem;
    grid-auto-rows: auto;
    grid-gap: 0.4rem;
  }
 .photo{
    height: 13rem;
    width: 9.5rem;
  }
  .uploadPhoto{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    transition: $transition;
    padding: 0.5rem;
    width: 100%;
    &:hover {
      border-color: $accent;
      background-color: #ffffff;
      color: $accent;
    }
  }

  .info{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-auto-columns: 7.5rem auto;
    grid-auto-rows: 13rem;
  }

  .label_info{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: auto;
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
 
  .name_edit{ 
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    list-style-type: none;
    justify-self: self-start;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
