<div class="wrapper">
    <ul class="navbar">
        <li style="float:left; padding-left: 50px; text-align: center; padding-top: 10px;" ><p>yps-admin</p></li>
        <li style="float:right"><a class="log_out" href="/login">Log out</a></li>
    </ul>
    <ul>
        <li><a href="/admin">Request</a></li>
        <li><a href="/login">Schools</a></li>
    </ul>
    <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, sed vitae saepe et suscipit eveniet iure distinctio nemo nobis. Et veniam, odio illum tempora repellat est obcaecati corporis facilis officia!</div>
</div>