.admin_page{
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: 150px auto;
  row-gap: 1rem;
}
.navbar {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-auto-columns: auto auto 80px;
  grid-auto-rows: 40px;
  }
 .logo_admin{
    padding-left: 2px;
    padding-top: 2px;
    justify-self: start;
    align-self: center;
    height: 100%;
  } 
  .navbar .nav_user{
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: end;
    align-self: center;
  }
  .navbar .nav_logout{
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
  }
.wrapper{
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: 150px auto;
  grid-gap: 1rem;
}
.notifications{
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-end: 3;
}
/* Style the tab */
.tab {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: auto;
    float: left;
  }
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
.content{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: auto;
  display: grid;
  align-items: stretch
  }
  .profile{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: auto;
    display: grid;
    grid-auto-columns: 150px auto;
  }
  .photo_edit{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: auto;
  }
  .photo_edit li .photo{
    height: 200px;
    width: 150px;
  }
  .photo_edit li .photo_upl{
    border-radius: 50px;
    cursor: pointer;
  }
  .photo_upl:hover {
    background-color: #ddd;
  }
  .info{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: auto;
    display: grid;
    padding-left: 1rem;
    grid-auto-columns: 100px auto;
    grid-template-rows: repeat(2, 1fr)
  }

  .label_info{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: auto;
    list-style-type: none;
    display: grid;
  }
  .l_name{
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: self-start;
  }

  .name_edit{ 
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: auto;
    list-style-type: none;
    justify-self: self-start;
    display: grid;
    grid-auto-rows: auto;
  }
.name_edit li{
  display: block;
  justify-self: self-start;
}