@import "src/vars";

:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  padding: .5rem;

  .lesson-number {
    grid-row: 1 / 4;
    position: relative;
    display: grid;
    align-content: center;
    text-align: center;
    width: 2rem;
    height: 2rem;

    &-value {
      z-index: 1;
      color: #ffffff;
      font-weight: bold;
      font-size: .7rem;
    }

    &::before, &::after {
      content: '';
      position: absolute;
    }

    &::before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: rotate(45deg);
      background-color: $accent;
    }

    &::after {
      width: 2px;
      height: 4.5rem;
      background-color: $light;
      bottom: .5rem;
      left: 50%;
      transform: translate(-50%, 100%);
      z-index: -1;
    }
  }

  .discipline, .auditorium {
    &::first-letter {
      text-transform: capitalize;
    }
  }

  .auditorium {
    font-size: .8rem;
  }

  .time-gap {
    color: $gray;
    font-size: .75rem;
  }

  &:last-child {
    .lesson-number {
      &::after {
        display: none;
      }
    }
  }
}