@import "src/vars";

:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  padding: .5rem;

  .lesson-number {
    grid-row: 1 / 4;

    &-value {
      color: #ffffff;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 4.5rem;
      background-color: $light;
      bottom: .5rem;
      left: 50%;
      transform: translate(-50%, 100%);
      z-index: -1;
    }
  }

  .discipline, .auditorium {
    &::first-letter {
      text-transform: capitalize;
    }
  }

  .auditorium {
    font-size: .8rem;
  }

  .time-gap {
    color: $gray;
    font-size: .75rem;
  }

  &:last-child {
    .lesson-number {
      &::after {
        display: none;
      }
    }
  }
}