@import "src/vars";

:host {
  display: grid;
  grid-gap: 0.5rem;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid $light;
   
  .mark-type {
   	color: $gray;
    font-size: 0.75rem;
    font-weight: 600;
	}

  .mark-value {
	text-align: center;
    font-size: .85rem;
    font-weight: 600;
	}

  &:last-child {
	margin: 0;
	border: none;
	}
}