@import 'src/vars.scss';

:host{
  height: 3rem;
  background-color: $accent;
  border: 1px solid white;
  min-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
  border-left: none;

  button{
    width: 20%;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    height: inherit;
  }
}
