<h2 class="name">{{ school.name }}</h2>
<h4 class="short-name">{{ school.shortName }}</h4>
<p class="statistic-title">school statistic</p>
<div class="statistic">
  there are
  <span class="value digit">{{ school.pupils }}</span>
  pupils study,
  <span class="value digit">{{ school.parents }}</span>
  parents track the statistic of their children,
  <span class="value digit">{{ school.teachers }}</span>
  teachers teach,
  <span class="value digit">{{ school.auditoriums }}</span>
  auditoriums available for use, and
  <span class="value digit">{{ school.disciplines }}</span>
  disciplines are taught in the school.
</div>