@import "src/vars";

:host {
  .name {
    color: $accent;
    text-align: center;
  }

  .statistic-title {
    text-transform: capitalize;
    font-size: .8rem;
    color: $gray;
    font-weight: 600;
    margin-top: .5rem;
  }

  .statistic {
    color: $gray;
    font-size: .9rem;

    &::first-letter {
      text-transform: capitalize;
    }

    .value {
      color: $accent;
      line-height: 1.25rem;
    }
  }
}