@import 'src/vars.scss';

:host {
  display: grid;
  grid-gap: 1rem;

  .title {
    text-transform: capitalize;
  }

  .no-items {
    color: $gray;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .title, .no-items {
    &.center {
      text-align: center;
    }
  }
}