<div class="container">
    <div class="left-side">
        <div class="alien">
            <img class="alien-img" src="assets/images/alien404.png">
        </div>
    </div>
    <div class="rigth-side">
        <div class="main-content">
            <div class="bg">
                <h1>404</h1>
            </div>
            <div>
                <p>page not found</p>
            </div>
            <div>
                <button class="btn primary" routerLink="/">Go to main</button>
            </div>
        </div>
    </div>
</div>

