.navbar {
    display: grid;
    grid-auto-columns: auto auto 5rem;
    grid-auto-rows: 3rem;
    width: 100%;
    padding-bottom: 1rem;
    }
   .logo_admin{
      padding-left: 2px;
      padding-top: 2px;
      justify-self: start;
      align-self: center;
      height: 100%;
    } 
    .navbar .nav_user{
      grid-area: 1/2/auto/auto;
      justify-self: end;
      align-self: center;
    }
    .navbar .nav_logout{
      grid-area: 1/3/auto/auto;
      justify-self: center;
      align-self: center;
    }