@import 'src/vars.scss';

.admin_page{
  display: grid;
  // grid-auto-rows: auto;
  grid-auto-columns: 10rem auto;
  row-gap: 1rem;
}

.wrapper{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: 10rem auto;
  grid-gap: 1rem;
}
/* Style the tab */
.tab {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
   grid-area: 1 1 auto auto;
    float: left;
  }

.content{
  grid-area: 2 1 auto auto;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}