@import "src/vars";

:host {
    display: grid;
    grid-gap: 2rem;
    text-align: center;
    justify-items: center;
    align-content: start;

    .success {
        text-transform: capitalize;    
    }

    .congr {
        color: $grey;
        max-width: 20rem;
        &::first-letter {
            text-transform: uppercase;
        }
    }

    .btn {
        transition: $transition;
        margin-top: 1rem;
      &:hover {
        border-color: $accent;
        background-color: #ffffff;
        color: $accent;
      }
    }
}
