@import 'src/vars.scss';

:host{
  display: grid;
  align-self: self-start;
  overflow: hidden;

  .element {
    display: flex;
    align-items: center;
    padding: 1rem;

    .element-icon {
      color: currentColor;
      margin-right: 0.5rem;
    }

    .element-value {
      color: currentColor;
      font-weight: 600;
      text-transform: capitalize;
    }

    &.active {
      color: $accent;
    }

    &:hover {
      color: $accent;
    }
  }
}
