<main class="main-content">
    <div class="welcome-text">
        <h1>knowledge is power</h1>
        <span>
            We are pretty excited to introduce you YPS (Your Professional Stats),
            a modern service for school industry. It is an effortless to use
            web-application which is designed to give an opportunity for any
            school-type institution for keeping school statistics, accounting
            students, their parents, and teachers as well as provides a simple,
            convenient interface for all the users to
            receive the information they need.
        </span>
    </div>
    <div class="graph-section">
        <h1>the project is used</h1>
        <img class="graph-img" src="assets/images/graph-template.png" alt="graph template">
    </div>
</main>
<div class="main-links">
    <button class="btn log-btn primary" routerLink="/login">login</button>
    <button class="btn reg-btn primary" routerLink="/">register school</button>
</div>

