@import 'src/vars.scss';

/* Styling main content section */
.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2rem 4rem;
    
    .welcome-text h1 {
            text-transform: capitalize;
        }
     
    .graph-section {
        text-transform: capitalize;
        .graph-img {
            width: 100%;
        }
    }
}

/* Styling links section */
    .btn {
        transition: $transition;
      &:hover {
        border-color: $accent;
        background-color: #ffffff;
        color: $accent;
      }
      &.reg-btn {
        float: right;
      }
    }

@media (max-width: 800px) {
    .welcome-text h1 {
                text-align: center;
            }
    .graph-section h1 {
        text-align: center;
    }          
}