<span class="indexs digit item-el">{{ index }}</span>
<span class="pupil-name digit item-el"> {{pupilShortInfo.fullName}} </span>
<form [formGroup]="form" class="form-mark">
  <mat-form-field class="classwork-mark">
    <mat-select formControlName="classwork" class="select-mark" >
      <mat-option *ngFor="let mark of marks" [value]="mark">
        {{mark}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="homework-mark">
    <mat-select class="select-mark" formControlName="homework">
      <mat-option *ngFor="let mark of marks" [value]="mark">
        {{mark}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="test-mark">
    <mat-select class="select-mark" formControlName="test">
      <mat-option *ngFor="let mark of marks" [value]="mark">
        {{mark}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>