@import "src/vars";

:host {
  display: grid;
  grid-template-columns: calc(2.5rem + 2px) 1fr 3.5rem 3.5rem 3.5rem 0.75fr;
  align-content: center;
  row-gap: 0.5rem; 

  .item-el {
    text-align: center;
    line-height: 2rem;
    padding: 0 .5rem;
    border: {
    top: 1px solid $light;
    bottom: 1px solid $light;
    };

    &:last-child {
    border-right: 1px solid $light;
    }
  }

  .index {
    display: grid;
    align-content: center;
    font-weight: bold;
    width: calc(2.5rem + 2px);
    height: calc(2.5rem + 2px);
    background-color: $accent;
    color: #ffffff;
    text-align: center;
  }

  .pupil-name {
    align-self: center;
    text-align: left;
    padding: 0.25rem; 
  }
  .select-mark {
    border: 1px solid $light;
    padding: 0.5rem; 
  }
}