@import "src/vars";
  
:host {
  display: grid;
  grid-template-rows: auto auto 1fr;
  position: relative;
  align-content: center;
  grid-gap: 0.5rem;
  padding-right: 1rem;
  border-right: 1px solid $light;

  .absent{
    text-transform: capitalize;
    align-self: end;
    justify-self: center;
    font-weight: 600;
  }

  .topic {
    color: $accent;
    
    &::first-letter{
      text-transform: uppercase;
     }
   }

  .lesson-date {
    text-transform: capitalize;
    font-size: 0.75rem;
    color: $gray;
   }

  .marks {
    display: grid;
    align-self: end;
    grid-template-columns: repeat(3, 1fr);
    justify-self: start;

    .mark-section {
      display: grid;
      grid-gap: 0.5rem;
      margin-right: 0.5rem;
      padding-right: 0.5rem;
      border-right: 1px solid $light;

      .mark-type {
        color: $gray;
        text-transform: capitalize;
        font-size: 0.75rem;
      }

      .mark-value {
        text-align: center;
        font-size: .85rem;
      }

      &:last-child {
        margin: 0;
        border: none;
      }
    }
  }
 }