<div *ngIf="pupil != null" class="photo-edit">
  <img [src]="pupil.imageUrl" class="photo" />
  <input type="file" style="display: none;" accept="image/*" #file>
  <button type="button" class="btn upload-photo primary">Upload</button>
</div>
<div *ngIf="pupil != null" class="name-edit">
  <h2 class="full-name">{{pupil.surname}} {{pupil.firstName}} {{pupil.middleName}}</h2>
  <h3 class="email">{{pupil.email}} </h3>
  <h3 class="digit number">{{pupil.phoneNumber}} </h3>
  <h3 class="date">{{pupil.dateOfBirth}} </h3>
  <h3 class="pupil">Your class: {{pupil.className}} </h3>
</div>
