@import '~@angular/material/theming';
@include mat-core();

$yps-primary: mat-palette($mat-teal, 100);
$yps-accent: mat-palette($mat-grey, 800);
$yps-warn: mat-palette($mat-red);
$yps-theme: mat-light-theme($yps-primary, $yps-accent, $yps-warn);

@include angular-material-theme($yps-theme);