// * Oswald Fonts
@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald/Oswald-Bold.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald/Oswald-SemiBold.ttf") format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald/Oswald-Medium.ttf") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald/Oswald-Regular.ttf") format('truetype');
  font-weight: 400;
}

// * Open Sans Fonts
@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/Open_Sans/OpenSans-Bold.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf") format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
  font-weight: 400;
}

// * Muli Fonts
@font-face {
  font-family: "Muli";
  src: url("./assets/fonts/Muli/Muli-Bold.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Muli";
  src: url("./assets/fonts/Muli/Muli-SemiBold.ttf") format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "Muli";
  src: url("./assets/fonts/Muli/Muli-Medium.ttf") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "Muli";
  src: url("./assets/fonts/Muli/Muli-Regular.ttf") format('truetype');
  font-weight: 400;
}