/* You can add global styles to this file, and also import other style files */
@import './fonts.scss';
@import './vars.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
  outline: none;

  &:hover {
    opacity: 0.8;
  }
}

li {
  list-style: none;
}

button, input {
  outline: none;
  background: none;
}

button {
  padding: 1rem;
  border: 1px solid $light;
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 1px solid $gray;
  padding: 0.5rem;
}

.digit {
  font-family: 'Muli', sans-serif;
}

.btn {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  transition: $transition;
  border-color: $accent;
  background-color: $accent;
  color: #fff;

  &:hover {
    border-color: $accent;
    color: $accent;
    background: #fff;
  }
}

.index {
  display: grid;
  position: relative;
  align-content: center;
  text-align: center;
  width: 2rem;
  height: 2rem;

  &-value {
    z-index: 1;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.75rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotate(45deg);
    background-color: $accent;
  }
}

.icon {
  color: $accent;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  line-height: 100%;
  text-align: center;
  align-self: center;
  margin-bottom: -2px;
}

@media (max-width: 1400px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}