/* You can add global styles to this file, and also import other style files */
@import './fonts.scss';
@import './vars.scss';

body
* {
  color: #333333;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
  &:hover {
    opacity: 0.8;
  }
}

li {
  list-style: none;
}

button, input {
  outline: none;
  border: 1px solid #E6E6E6;
  background: none;
}

button {
  padding: 1rem;
  cursor: pointer;
}

input {
  padding: 0.5rem;
}

.digit {
  font-family: 'Muli', sans-serif;
}

.btn {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;

  &.primary {
    border-color: $accent;
    background-color: $accent;
    color: #ffffff;
  }
}