/* You can add global styles to this file, and also import other style files */
@import './fonts.scss';
@import './vars.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');
* {
  color: $black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
  outline: none;
  
  &:hover {
    opacity: 0.8;
  }
}

li {
  list-style: none;
}

button, input {
  outline: none;
  background: none;
}

button {
  padding: 1rem;
  border: 1px solid $light;
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 1px solid $gray;
  padding: 0.5rem;
}

.digit {
  font-family: 'Muli', sans-serif;
}

.btn {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  transition: $transition;
  border-color: $accent;
  background-color: $accent;
  color: #fff;

  &:hover {
    border-color: $accent;
    color: $accent;
    background: #fff;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}