@import 'src/vars.scss';
.card{
  border:1px solid black;
  margin: 0.5rem;
  width: 15rem;
}
button {
  background-color:$accent;
  color:white;
    &:hover{
      background-color: white;
      color:black;
    }
}
