<div class="but-div">
    <button class="btn add-btn primary">add new <br>user</button>
</div>
<form
  class="form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
value:{{form.value | json}}<br>
<label for="singleSelect" class="form-field-label"> Enter role of user: </label><br>
    <select name="singleSelect" ng-model="data.singleSelect">
      <option value="option-1" *ngFor="let role of Roles">{{role}}</option>
    </select><br>
  <yps-form-field class="m"
    *ngFor="let field of fields"
    [field]="field"
    [formControlName]="field.name"
  >
  </yps-form-field>
  <button type="submit">Submit</button>
</form>