<button
  class="add-btn btn primary"
  (click)="toggleForm()"
>
  {{ formIsOpen ? "close" : "add upcoming event" }}
</button>
<form
  *ngIf="formIsOpen"
  class="form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="title">add upcoming event</h1>
  <yps-form-field
    *ngFor="let field of fields"
    [field]="field"
    [formControlName]="field.name"
  >
  </yps-form-field>
  <mat-form-field>
    <mat-label>Select a class</mat-label>
    <mat-select formControlName="classId" disableRipple>
      <mat-option *ngFor="let class of classes" [value]="class.id">{{ class.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input formControlName="scheduledDate" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button type="submit" class="btn primary">submit</button>
</form>
